.sidenav-container {
  height: 100%;

  button.mat-icon-button {
    &.cdk-program-focused {
      ::ng-deep .mat-button-focus-overlay {
        opacity: 0;
      }
    }
  }

}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.loader {
  margin-left: 35%;
  margin-top: 50%;
}
