<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer role="navigation"
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list role="list">
      <a mat-list-item routerLink="" routerLinkActive="active" (click)="getTopics()" role="menuitem">Home</a>

      <mat-list-item class="list-item" routerLink="/home" routerLinkActive="active" role="menuitem"
                     *ngFor="let source of sources$" (click)="searchArticles(source.id)">
        <span class="source-name"> {{source.name}}</span>

      </mat-list-item>
      <a mat-list-item routerLink="/settings" routerLinkActive="active" (click)="closeMenu()" role="menuitem">Settings</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="closeMenu()" role="menuitem">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="navigation">
    <mat-toolbar color="primary" role="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PWA NEWS</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
