.grid-component {
  position: static !important;
  background-color: lightgray;
}

.card {
  border-radius: 5%;
  width: 85%;

  .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
  }

}

.img-article {
  height: 175px;
}

.action-buttons {

  text-align: center;

  button.mat-button {
    width: 40%;
    &.cdk-program-focused {
      ::ng-deep .mat-button-focus-overlay {
        opacity: 0;
      }
    }
  }

  a {
    padding: 0;
  }

}

@media screen and (max-device-width: 416px) {
  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
