<mat-nav-list>
  <button mat-button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
  </button>
  <button mat-button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
  </button>
  <button mat-button shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon>
  </button>
  <button mat-button shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.whatsapp.icon" size="lg"></fa-icon>
  </button>
  <button mat-button shareButton="telegram" [style.backgroundColor]="share.prop.telegram.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.telegram.icon" size="lg"></fa-icon>
  </button>
  <button mat-button shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.pinterest.icon" size="lg"></fa-icon>
  </button>
  <button mat-button shareButton="google" [style.backgroundColor]="share.prop.google.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.google.icon" size="lg"></fa-icon>
  </button>
  <button mat-button shareButton="messenger" [style.backgroundColor]="share.prop.messenger.color" [url]="linkToShare"
          (click)="sharedLink()">
    <fa-icon [icon]="share.prop.messenger.icon" size="lg"></fa-icon>
  </button>
</mat-nav-list>
