html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-radio-label{
  .mat-radio-label-content{
    padding-right: 0 !important;
  }
}

.mat-dialog-container {
  background: transparent !important;
  box-shadow: unset !important;
}
